canvas {display: none}
td {text-align:center;background:white;}
pre {line-height:1px;}
#tabelements {
background: white;
height:50px;
line-height:10px;
}
#elements {text-align:left;}
#d0,#d1,#d2,#d3,#m0,#m1,#m2,#m3,#n0,#n1,#n2,#n3,#lw, #rw, #ju {
cursor:pointer;
}
#d0,#d1,#d2,#d3,#m0,#m1,#m2,#m3 {
padding:10px;
}
#m0 {background:#f6e259}
